- return unless Gitlab.com?

- minutes_quota = namespace.ci_minutes_quota
- minutes_quota_presenter = Ci::Minutes::QuotaPresenter.new(minutes_quota)
- return unless minutes_quota_presenter.display_minutes_available_data? && minutes_quota_presenter.purchased_minutes_report.limit > 0

.row
  .col-sm-6
    %strong
      = _("Additional minutes")
    %div{ data: { qa_selector: "additional_ci_minutes" } }
      = ci_minutes_report(minutes_quota_presenter.purchased_minutes_report)
      minutes
      = link_to sprite_icon('question-o'), help_page_path('subscriptions/gitlab_com/index', anchor: 'purchase-additional-ci-minutes'), target: '_blank', rel: 'noopener noreferrer'
  .col-sm-6.right
    #{minutes_quota_presenter.purchased_percent_used}% used
    = ci_minutes_progress_bar(minutes_quota_presenter.purchased_percent_used)
